.background {
  text-align: center;
  background-color: black;
  min-height: 110vh;
}

.button1
{

  margin-top: 70px;
  margin-bottom: 50px;
}

.cont {
  position: relative;
  height: 50vh;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.back
{
  position: relative;
  padding-top:60%;
}

.unionDown
{
  position: relative;
  padding-top:80%;
}